@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + svg {
  	display: block;
  }

  .dropdown-btn {
    width: 194px;
    height: 30px;
    font-weight: 200;
    font-size: 13px;
  }

  .dropdown-icon {
      @apply w-4 h-3 absolute top-0 right-0 mx-4 pointer-events-none;
      margin-top: 0.6rem;
  }

  .field-btn {
      letter-spacing: 0.3px;
      font-size: 10px !important;
      font-weight: 200;
      line-height: 2.3;
  }

  .text-xss{
    font-size: 12px !important;
  }

  li::marker {
    color: #1D2A51!important;
    font-size: 24px;

  }

  .platform-card{
    width: 576px;
    height: 412px !important;
  }

  .shadow-xl{
   box-shadow: 0px 5px 15px #e3e3e347; 
  }

  .img-mid{
    margin-top:-115px !important;
  }

  .-z-10{
    z-index: -10;
  }

  .ww-0{
    width: 0;
  }

  .btn-spc{
    margin-top: 27.9em;
    padding-top: 10px;
  }

  .text-link{
    color: #285CB2;
  }

  .box-shadow-1{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }